* {
    box-sizing: border-box;
  }
  
  #table {
    height: 500px;
    width: 500px;
    display: flex;
    border: 1px solid black;
  }
  
  .column {
    height: 100%;
  }

  .column:hover{
    background-color:antiquewhite ;
  }
  
  .cell {
    width: 83px;
    border: 1px solid black;
  }
  
  .player1, .player2 {
    width: 98%;
    height: 98%;
    border-radius: 50%;
  }
  
  .player1 {
    background-color: #800db6;
  }
  
  .player2 {
    background-color: #ee8f14;
  }